<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="#">Marionette <span>Wires</span></a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      {{#each primaryItems}}
        <li {{#if active}}class="active"{{/if}}><a href="#{{path}}">{{name}}</a></li>
      {{/each}}
        <li><a href="/signout">Logout</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#each secondaryItems}}
        <li {{#if active}}class="active"{{/if}}><a href="#{{path}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
