doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    meta(name='description', content='#{user.pseudo}')
    meta(name='author', content='')
    link(rel='stylesheet', href='/bundle.css')
  body
    script.
        window.user={"username": "#{user.pseudo}", "apiKey": "#{user.apiKey}"};
    .application
    #spin-wrap.hide
      #spin
    script(src='/ckeditor/ckeditor.js')
    script(src='/bundle.js')
