<div class="books__title">
  <h1>{{title}} <small>({{year}})</small> !</h1>
  <p class="lead">{{author}}</p>
</div>

<div class="books__image">
  <img class="img-thumbnail" src="{{img}}" alt="{{title}} ({{year}}) by {{author}}">
</div>
<div class="books__content">
  <textarea name="test" id="test" rows="10" cols="80">
  	{{description}}
  </textarea>
</div>

<hr class="hidden-md hidden-lg">
