.with-margin-top {margin-top: 20px;}
.with-no-margin-top {margin-top: 0;}
.with-big-margin-top {margin-top: 40px;}
.with-margin-bottom {margin-bottom: 20px;}
.with-background {background-color: silver;}
.with-border-bottom {border-bottom: solid 1px gray;}

.padded {padding: 20px}
.little-padded {padding: 10px}
.tiny-padded {padding: 5px}

.bordered {border: solid 2px silver}
.bordered-strong {border-color:  gray}