@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../node_modules/toastr/toastr.scss";
@import "tools";
@import "application/styles";
@import "flashes/styles";
@import "header/styles";
@import "index/styles";
@import "_spinner";
@import '../node_modules/select2/select2-bootstrap.scss';
@import '../node_modules/select2/select2.scss';

html,
body,
.application {
  position: relative;
  height: 100%;
  width: 100%;
}

// animate-sass
body {
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
    @include animate-prefixer(animation-duration, $base-duration);
    @include animate-prefixer(animation-fill-mode, both);

    &.hinge {
        @include animate-prefixer(animation-duration, $base-duration * 2);
    }
}
